* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  overflow: auto;
}

.header {
  justify-self: center;
}

#submitInput {
  grid-row: 2/-2;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.read {
  display: flex;
  gap: 10px;
}

.currentDisplay {
  grid-row: 2/3;
  grid-column: -2/-1;
  display: grid;
  grid-template-columns: repeat(3, minmax (250px, 1fr));
  gap: 15px;
  padding: 2rem;
}

.card {
  grid-row: 2/-2;
}
